/target
/projects/ios/headers/thingFFI.h
/projects/ios/headers/thingFFI.modulemap
/projects/ios/Sources/thing.swift
/projects/ios/thing.xcframework
/projects/ios/libthing.a
/projects/android/app/src/main/jniLibs
.DS_Store
